body {
  font: 10pt 'Arial Narrow', 'Arial', sans-serif;
  counter-reset: section-nb page-nb 1;
}

/* disable cover page for now, while
 * waiting a stable example from the parc
 * h3 {
 *  text-align: center;
 * }
 */

h4::before {
  counter-increment: section-nb;
  content: counter(section-nb) '. ';
}

p {
  text-align: justify;
}

table {
  width: 95%;
  border-collapse: collapse;
}

th, td {
  padding:.3em .3em .3em .2em;
  border: 1px solid lightgrey;
}

.lbl, .amount {
  text-align: right;
}

.amount {
  font-family: monospace;
}

#print-foot {
  display: none;
}

@media print {

  h3 {
    margin-top: 10cm;
  }

  /* disable cover page for now, while
   * waiting a stable example from the parc
   * thus also disabling this
   * .content {
   *   page-break-before: always;
   * }
   */

  .section {
    page-break-inside: avoid;
  }

  table {
    page-break-inside: avoid;
  }

  #print-foot {
    display: block;
    position: fixed;
    bottom: 0pt;
    right: 0pt;

    font-size: 75%;
  }

  #print-foot:after {
    /* background-image: url("../img/logo.svg"); */
    /* background-size: 1cm; */
    counter-increment: page-nb;
    content: counter(page-nb);
  }

}
