{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
  {% trans "seeing" as seeing %}
  {% include "top.html" with h2=object small=seeing|capfirst %}
    <div>
      <p>
        <strong>{% trans "name"|capfirst %} : </strong>
        {{ object.name }}</p>
    </div>
    <div>
      <p class="text-center">
        <a href="{% url 'partner:edit' object.id %}">
          <span class="glyphicon glyphicon-pencil"
                aria-hidden="true"></span>
          <strong>{% trans "edit"|capfirst %}</strong></a></p>
      <p class="text-center">
        <a href="{% url 'partner:drop' object.id %}">
          <span class="glyphicon glyphicon-remove"
                aria-hidden="true"></span>
          <strong>{% trans "drop"|capfirst %}</strong></a></p>
    </div>
{% endblock %}
