{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
  {% trans "seeing" as seeing %}
  {% include "top.html" with h2=object small=seeing|capfirst %}
    <div>
      <p>
        <strong>{% trans "job"|capfirst %} : </strong>
        {{ object.job }}</p>
      <p>
        <strong>{% trans "type"|capfirst %} : </strong>
        {{ object.type }}</p>
      <p>
        <strong>{% trans "person"|capfirst %} : </strong>
        {{ object.person }}</p>
      <p>
        <strong>{% trans "start"|capfirst %} : </strong>
        {{ object.start }}</p>
      <p>
        <strong>{% trans "end"|capfirst %} : </strong>
        {{ object.end }}</p>
    </div>
    <div>
      <p class="text-center">
        <a href="{% url 'history:edit' object.id %}">
          <span class="glyphicon glyphicon-pencil"
                aria-hidden="true"></span>
          <strong>{% trans "edit"|capfirst %}</strong></a></p>
      <p class="text-center">
        <a href="{% url 'history:drop' object.id %}">
          <span class="glyphicon glyphicon-remove"
                aria-hidden="true"></span>
          <strong>{% trans "drop"|capfirst %}</strong></a></p>
    </div>
{% endblock %}
