{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet"
        href="{% static "bootstrap-3.3.6-dist/css/bootstrap.min.css" %}">
  <link rel="stylesheet"
        href="{% static "bootstrap-3.3.6-dist/css/bootstrap-theme.min.css" %}">
  <!--
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  -->
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"
           href="{% url 'home' %}">Adamo</a>
      </div><!-- /.navbar-header -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse"
           id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="{% url 'node:see' 1 %}">
              Charte Objectif 2025
            </a>
          </li>
          <li>
            <a href="{% url 'partner:list' %}">
              {% trans "partner"|capfirst %}
            </a>
          </li>
          <li>
            <a href="{% url 'admin:index' %}">
              Administration
            </a>
          </li>
        </ul>
        {% block bar %}{% endblock %}
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>

  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <script src="{% static "jquery.min.js" %}">
  </script>
  <script src="{% static "bootstrap-3.3.6-dist/js/bootstrap.min.js" %}">
  </script>
  <!--
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
  </script>-->
</body>
</html>
