{% extends "base.html" %}
{% load i18n %}

{% trans "droping"|capfirst as title_2nd %}
{% block title %}{{ title_2nd }} {{ object }}{% endblock %}

{% block content %}
  {% include "top.html" with h2=object small=title_2nd %}
    <div class="alert alert-warning" role="alert">
      <form action="" method="post">{% csrf_token %}
        <p>{% trans "drop element"|capfirst %}
          <em><strong>'{{ object }}'</strong></em> ?</p>
        <button type="submit"
                class="btn btn-danger"
                name="button">
          <span class="glyphicon glyphicon-ok"
                aria-hidden="true"></span>
          {% trans "confirm"|capfirst %}</button>
        <a class="btn btn-success"
           href="{{ view.get_success_url }}"
           role="button">
          <span class="glyphicon glyphicon-remove"
                aria-hidden="true"></span>
          {% trans "cancel"|capfirst %}</a>
      </form>
    </div>
{% endblock %}
