{% extends "base.html" %}

{% block title %}Adamo{% endblock %}

{% block content %}
    <div class="page-header">
      <div class="jumbotron">
        <h1>Adamo
          <small>
            Outil de Préparation à l'Évaluation de la Charte
          </small>
        </h1>
      </div>
    </div>
{% endblock %}
