{% extends "base.html" %}
{% load i18n %}
{% load utils_filters %}

{% block title %}{{ view|verbose_name_plural|capfirst }}
{% endblock %}

{% block content %}
{% with title_1st=view|verbose_name_plural|capfirst %}
{% trans "List" as title_2nd %}
{% include "top.html" with h2=title_1st small=title_2nd %}
{% endwith %}
    {% if object_list %}
      {% if is_paginated %}
      <div class="text-center">
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}"
                 aria-label={% trans "Previous" %}>
          {% else %}
          <li class="disabled"><a aria-label={% trans "Previous" %}>
          {% endif %}
            <span class="glyphicon glyphicon-chevron-left"
                  aria-hidden="true"></span></a></li>

          {% for p in paginator.page_range %}
          {% if p == page_obj.number %}
          <li class="active"><a>
          {% else %}
          <li><a href="?page={{ p }}">
          {% endif %}
            {{ p }}</a></li>
          {% endfor %}

          {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}"
                 aria-label={% trans "Next" %}>
          {% else %}
          <li class="disabled"><a aria-label={% trans "Next" %}>
          {% endif %}
            <span class="glyphicon glyphicon-chevron-right"
                  aria-hidden="true"></span></a></li>
        </ul>
      </div>
      {% endif %}
      <table class="table table-condensed table-striped">
        <tbody>
        {% for object in object_list %}
          <tr>
            <td>{{ object }}</td>
            <td>
              <a href="{% url object|see_url object.id %}"
                 data-toggle="tooltip"
                 title={% trans "see"|capfirst %}>
                <span class="glyphicon glyphicon-eye-open"
                      aria-hidden="true"></span></a></td>
            <td>
              <a href="{% url object|edit_url object.id %}"
                 data-toggle="tooltip"
                 title={% trans "edit"|capfirst %}>
                <span class="glyphicon glyphicon-pencil"
                      aria-hidden="true"></span></a></td>
            <td>
              <a href="{% url object|drop_url object.id %}"
                 data-toggle="tooltip"
                 title={% trans "drop"|capfirst %}>
                <span class="glyphicon glyphicon-remove"
                      aria-hidden="true"></span></a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>
        {% trans "The list is empty." %}
        {% trans "You should use the following add functionnality." %}
      </p>
    {% endif %}
      <div>
        <p class="text-center">
          <a href="{% url view|add_url_fqn %}">
            <span class="glyphicon glyphicon-plus"
                  aria-hidden="true"></span>
            <strong>{% trans "add" %}</strong></a></p>
      </div>
{% endblock %}
