{% load i18n %}
    <div>
      <h3>{% trans "position in the Charter"|capfirst %}</h3>
      <ol class="breadcrumb">
      {% for ancestor in node.get_ancestors %}
        <li>
          <a href="{% url 'node:see' ancestor.id %}">
            {{ ancestor.short_str }}
          </a>
        </li>
      {% endfor %}
        <li>
          <a href="{% url 'node:see' node.id %}">
            {{ node.type }} {{ node }}
          </a>
        </li>
      </ol>
    </div>
