{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ object.short_str }}{% endblock %}

{% block content %}
{% trans "identity"|capfirst as trans_identity %}
{% trans "add"|capfirst as trans_add %}
{% include "top.html" with h2=object small=object.type %}
{% include "tree/node_ancestors.html" with node=object %}
{% include "tree/node_childreen.html" with node=object %}
{% if object.type.id == 3 or object.type.id == 6 %}
    <div>
      <h3>{{ trans_identity }}</h3>
    {% if object.identity %}
      {% include "identity/identity_content.html" with iden=object.identity %}
    {% else %}
      <div class="list-group">
        <a href="{% url 'node:iden:add' object.id %}"
           class="list-group-item">
          <span class="glyphicon glyphicon-plus"
                aria-hidden="true"></span>
          {{ trans_add }}
        </a>
      </div>
    {% endif %}
    </div>
{% endif %}
{% endblock %}
