{% load i18n %}
{% if node.type.id != 6 %}
    <div>
      <h3>{{ node.type.child.pluralize_label }}</h3>
      <div class="list-group">
      {% if node.type.id == 5 %}
        <a href="{% url 'node:add' node.id %}"
           class="list-group-item">
          <span class="glyphicon glyphicon-plus"
                aria-hidden="true">
          </span>
          {{ trans_add }}
        </a>
      {% endif %}
      {% for child in node.get_children %}
        <a href="{% url 'node:see' child.id %}"
           class="list-group-item">
          {{ child }}</a>
      {% endfor %}
      </div>
    </div>
{% endif %}
