{% load i18n %}
{% trans "indicators"|capfirst as trans_indicators %}
{% trans "edit"|capfirst as trans_edit %}
    {% if iden.label %}
      <p><strong>{% trans "verbose label"|capfirst %}</strong></p>
      <p>
        {{ iden.label }}
        <a href="{% url 'node:iden:edit' iden.node.id iden.id %}"
           data-toggle="tooltip"
           title={{ trans_edit }}>
          <span class="glyphicon glyphicon-pencil"
                aria-hidden="true"></span>
        </a>
      </p>
    {% endif %}
      <p><strong>{% trans "anteriority"|capfirst %}</strong></p>
      <p class="text-justify">
        {{ iden.anteriority|linebreaksbr }}
        <a href="{% url 'node:iden:edit' iden.node.id iden.id %}"
           data-toggle="tooltip"
           title={{ trans_edit }}>
          <span class="glyphicon glyphicon-pencil"
                aria-hidden="true"></span>
        </a>
      </p>
      <p><strong>{% trans "long-term purpose"|capfirst %}</strong></p>
      <p class="text-justify">
        {{ iden.purpose|linebreaksbr }}
        <a href="{% url 'node:iden:edit' iden.node.id iden.id %}"
           data-toggle="tooltip"
           title={{ trans_edit }}>
          <span class="glyphicon glyphicon-pencil"
                aria-hidden="true"></span>
        </a>
      </p>
      <p id={% trans "indicators" %}><strong>{{ trans_indicators }}</strong></p>
      <div class="list-group">
        <a href="{% url 'node:iden:indi:add' iden.node.id iden.id %}"
           class="list-group-item">
          <span class="glyphicon glyphicon-plus"
                aria-hidden="true"></span>
          {{ trans_add }}
        </a>
      {% for indicator in iden.indicator_set.all %}
        <li class="list-group-item">
          {{ indicator }}
          <div class="pull-right">
            <a href="{% url 'node:iden:indi:edit' iden.node.id iden.id indicator.id %}"
               data-toggle="tooltip"
               title={{ trans_edit }}>
              <span class="glyphicon glyphicon-pencil"
                    aria-hidden="true"></span>
            </a>
            <a href="{% url 'node:iden:indi:drop' iden.node.id iden.id indicator.id %}"
               data-toggle="tooltip"
               title={% trans "drop"|capfirst %}>
              <span class="glyphicon glyphicon-remove"
                    aria-hidden="true"></span>
            </a>
          </div>
        </li>
      {% endfor %}
      </div>
    <div>
      <h3>{% trans "states"|capfirst %}</h3>
      <div class="list-group">
      {% if not iden.state_set.all %}
        <a href="{% url 'node:iden:state:add' iden.node.id iden.id 1 %}" {# previsional #}
           class="list-group-item">
          <span class="glyphicon glyphicon-plus"
                aria-hidden="true">
          </span>
          {{ trans_add }}
        </a>
      {% elif iden.node.type.id == 6 %}
        <a href="{% url 'node:iden:state:add' iden.node.id iden.id 2 %}" {# real #}
           class="list-group-item">
          <span class="glyphicon glyphicon-plus"
                aria-hidden="true">
          </span>
          {{ trans_add }}
        </a>
      {% endif %}
      {% for state in iden.state_set.all %}
        <a href="{% url 'node:iden:state:see' iden.node.id iden.id state.id %}"
           class="list-group-item">
          {{ state }}
        </a>
      {% endfor %}
      </div>
    </div>
