{% load i18n %}
{% load utils_filters %}
          <div class="list-group">
          {% if not object.locked %}
            <a href="{% url res object.identity.node.id object.identity.id object.id %}"
               class="list-group-item">
              <span class="glyphicon glyphicon-plus"
                    aria-hidden="true">
              </span>
              {% trans "add"|capfirst %}
            </a>
          {% endif %}
          {% for row in qset %}
            <li class="list-group-item">
              {{ row }}
            {% if not object.locked %}
              <div class="pull-right">
                {% url row|edit_url row.state.identity.node.id row.state.identity.id row.state.id row.id as edit_url %}
                <a href="{{ edit_url }}"
                   data-toggle="tooltip"
                   title={% trans "edit"|capfirst %}>
                  <span class="glyphicon glyphicon-pencil"
                        aria-hidden="true">
                  </span>
                </a>
                {% url row|drop_url row.state.identity.node.id row.state.identity.id row.state.id row.id as drop_url %}
                <a href="{{ drop_url }}"
                   data-toggle="tooltip"
                   title={% trans "drop"|capfirst %}>
                  <span class="glyphicon glyphicon-remove"
                        aria-hidden="true">
                  </span>
                </a>
              </div>
            {% endif %}
            </li>
          {% endfor %}
          </div>
