{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{{ object.identity.node.short_str }}</title>
  <link rel="stylesheet"
        type="text/css"
        href="{% static "css/state_tech_file.css" %}">
</head>
<!--body contenteditable="true"-->
<body>
    <div class="content">
      <h3>
        {% trans "state"|capfirst %}
        {{ object.type }}
        {{ object.identity.node.type }} :<br />
        {{ object.identity.node }}
      </h3>
      <div class="section">
        <h4>Lien avec la Charte</h4>
        <ul>
        {% for ancestor in object.identity.node.get_ancestors %}
          <li>{{ ancestor.type }} {{ ancestor }}
          {% if ancestor.type.id == 3 %}
          <p>{{ ancestor.identity.purpose|linebreaksbr }}</p>
          {% endif %}
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="section">
        <h4>{% trans "label"|capfirst %}</h4>
        <p>
        {% if object.identity.label %}{{ object.identity.label }}
        {% else %}{{ object.identity.node }}
        {% endif %}
        </p>
      </div>
      <div class="section">
        <h4>{% trans "anteriority"|capfirst %}</h4>
        <p>{{ object.identity.anteriority|linebreaksbr }}</p>
      </div>
      <div class="section">
        <h4>{% trans "long-term purpose"|capfirst %}</h4>
        <p>{{ object.identity.purpose|linebreaksbr }}</p>
      </div>
      <div class="section">
        <h4>{% trans "context"|capfirst %}</h4>
        <p>{{ object.context|linebreaksbr }}</p>
      </div>
      <div class="section">
        <h4>{% trans "description"|capfirst %}</h4>
        <p>{{ object.description|linebreaksbr }}</p>
      </div>
      <div class="section">
        <h4>{% trans "procedures"|capfirst %}</h4>
        <ul>
        {% for funding in object.funding_set.all %}
          <li>{{ funding }}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="section">
        <h4>Calendrier</h4>
        <ul>
        {% for step in object.step_set.all %}
          <li>{{ step }}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="section">
        <h4>{% trans "indicators"|capfirst %} &
            {% trans "results"|capfirst %}</h4>
        <ul>
        {% for result in object.result_set.all %}
          <li>{{ result }}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="section">
        <h4>{% trans "partners"|capfirst %}</h4>
        <ul>
        {% for partner in object.get_distinct_partners %}
          <li>{{ partner.partner__name }}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="section">
        <h4>{% trans "human means"|capfirst %}</h4>
        <table>
          <thead>
            <tr>
              <th>{% trans "human mean type"|capfirst %}</th>
              <th>{% trans "job"|capfirst %}</th>
              <th>{% trans "job type"|capfirst %}</th>
              <th>{% trans "person"|capfirst %}</th>
              <th>{% trans "full time days number"|capfirst %}</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <th>{% trans "total"|capfirst %}</th>
              <td class="amount">{{ object.get_humanmeans_sum }}</td>
            </tr>
          </tfoot>
          {% for humanmean in object.humanmean_set.all %}
          <tr>
            <td>{{ humanmean.type }}</td>
            <td>{{ humanmean.history.job }}</td>
            <td>{{ humanmean.history.type }}</td>
            <td>{{ humanmean.history.person }}</td>
            <td class="amount">{{ humanmean.full_time_days_nb }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="section">
        <h4>Plan de financement (hors taxes)</h4>
        <table>
          <thead>
            <tr>
              <th>{% trans "label"|capfirst %}</th>
              <th>{% trans "expense"|capfirst %} (€ HT)</th>
              <th>Taux (%)</th>
              <th>{% trans "label"|capfirst %}</th>
              <th>{% trans "income"|capfirst %} (€ HT)</th>
              <th>Taux (%)</th>
            </tr>
          </thead>
        {% for accountline in object.accountline_set.all %}
          <tr>
            {% if accountline.type %}
            <td class="lbl"></td>
            <td class="amount"></td>
            <td class="amount"></td>
            {% endif %}
            <td class="lbl">{{ accountline.label }}</td>
            <td class="amount">{{ accountline.amount }}</td>
            <td class="amount">{{ accountline.get_rate }}</td>
            {% if not accountline.type %}
            <td class="lbl"></td>
            <td class="amount"></td>
            <td class="amount"></td>
            {% endif %}
          </tr>
        {% endfor %}
          <tfoot>
            <tr>
              <th>{% trans "total"|capfirst %}</th>
              <td class="amount">{{ object.get_expenses_sum }}</td>
              <td></td>
              <th>{% trans "total"|capfirst %}</th>
              <td class="amount">{{ object.get_incomes_sum }}</td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="section">
        <h4>{% trans "localities"|capfirst %}</h4>
        <ul>
        {% for locality in object.extension_set.all %}
          <li>{{ locality }}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  <div id="print-foot"></div>
</body>
</html>
