{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ object.identity.node.short_str }}{% endblock %}

{% block bar %}
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle"
               data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-export"
                    aria-hidden="true"></span>
              {% trans "export"|capfirst %} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="{% url 'node:iden:state:techfile' object.identity.node.id object.identity.id object.id %}">
                  <span class="glyphicon glyphicon-export"
                        aria-hidden="true"></span>
                  {% trans "technical file"|capfirst %}
                </a>
              </li>
              <li>
                <a href="{% url 'node:iden:state:export' object.identity.node.id object.identity.id object.id %}">
                  <span class="glyphicon glyphicon-export"
                        aria-hidden="true"></span>
                  {% trans "state"|capfirst %} {{ object.type }}
                </a>
              </li>
            </ul>
          </li>
        </ul>
{% endblock %}

{% block content %}
  {% trans "state"|capfirst as trans_state %}
  {% trans "edit"|capfirst as trans_edit %}
  {% include "top.html" with h2=object.identity.node small=trans_state %}
  {% include "tree/node_ancestors.html" with node=object.identity.node %}
    <div>
      <h3>{{ trans_state }} <small>{{ object.type }}</small></h3>
      <p><strong>{% trans "context"|capfirst %}</strong></p>
      <p class="text-justify">{{ object.context|linebreaksbr }}
      {% if not object.locked %}
        <a href="{% url 'node:iden:state:edit' object.identity.node.id object.identity.id object.id %}"
           data-toggle="tooltip"
           title={{ trans_edit }}>
          <span class="glyphicon glyphicon-pencil"
                aria-hidden="true"></span>
        </a>
      {% endif %}
      </p>
      <p><strong>{% trans "description"|capfirst %}</strong></p>
      <p class="text-justify">{{ object.description|linebreaksbr }}
      {% if not object.locked %}
        <a href="{% url 'node:iden:state:edit' object.identity.node.id object.identity.id object.id %}"
           data-toggle="tooltip"
           title={{ trans_edit }}>
          <span class="glyphicon glyphicon-pencil"
                aria-hidden="true"></span>
        </a>
      {% endif %}
      </p>
      <p id="{% trans "fundings"|slugify %}">
        <strong>{% trans "procedures"|capfirst %}</strong>
        <!--span class="badge"-->
        <span class="label label-default">
          {{ object.funding_set.count }}
        </span>
      </p>
          {% include "state/pane.html" with res='node:iden:state:funding:add' qset=object.funding_set.all %}
      <p id="{% trans "steps"|slugify %}">
        <strong>{% trans "steps"|capfirst %}</strong>
        <!--span class="badge"-->
        <span class="label label-default">
          {{ object.step_set.count }}
        </span>
      </p>
          {% include "state/pane.html" with res='node:iden:state:step:add' qset=object.step_set.all %}
      <p id="{% trans "results"|slugify %}">
        <strong>{% trans "results"|capfirst %}</strong>
        <!--span class="badge"-->
        <span class="label label-default">
          {{ object.result_set.count }}
        </span>
      </p>
          {% include "state/pane.html" with res='node:iden:state:result:add' qset=object.result_set.all %}
      <p id="{% trans "partnerships"|slugify %}">
        <strong>{% trans "partnerships"|capfirst %}</strong>
        <!--span class="badge"-->
        <span class="label label-default">
          {{ object.partnership_set.count }}
        </span>
      </p>
          {% include "state/pane.html" with res='node:iden:state:partnership:add' qset=object.partnership_set.all %}
      <p id="{% trans "human means"|slugify %}">
        <strong>{% trans "human means"|capfirst %}</strong>
        <!--span class="badge"-->
        <span class="label label-default">
          {{ object.humanmean_set.count }}
        </span>
      </p>
          {% include "state/pane.html" with res='node:iden:state:humanmean:add' qset=object.humanmean_set.all %}
      <p id="{% trans "account lines"|slugify %}">
        <strong>{% trans "account lines"|capfirst %}</strong>
        <!--span class="badge"-->
        <span class="label label-default">
          {{ object.accountline_set.count }}
        </span>
      </p>
          {% include "state/pane.html" with res='node:iden:state:accountline:add' qset=object.accountline_set.all %}
      <p id="{% trans "extensions"|slugify %}">
        <strong>{% trans "localities"|capfirst %}</strong>
        <!--span class="badge"-->
        <span class="label label-default">
          {{ object.extension_set.count }}
        </span>
      </p>
          {% include "state/pane.html" with res='node:iden:state:extension:add' qset=object.extension_set.all %}
    </div>{% endblock %}
